.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote {
  width: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
